$primary-color: blue;

.input {
    line-height: 32px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;

    &:focus, &:hover {
        border-color: $primary-color;
        outline: none;
    }
}

.button {
    height: 32px;
    border: 1px solid $primary-color;
    border-radius: 4px;
    padding: 8px 16px;

    &:focus, &:active {
        outline: none;
        background: #fafafa;
    }
}